
/*#region Engine*/

.engine-feature
{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: var(--gap);
    align-items: center;
}

@media (max-width: 800px) {
    .engine-feature {
        grid-template-columns: 1fr;
    }
}

.engine-desc h3
{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.engine-desc p
{
    color: var(--text-dim);
    margin-bottom: 1rem;
}

.engine-tag-row
{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.engine-tag
{
    font-family: var(--mono);
    font-size: 0.7rem;
    color: var(--text-dim);
    border: 1px solid var(--line-bright);
    border-radius: var(--radius);
    padding: 0.25rem 0.5rem
}

.engine-tag:hover {
    transform: scale(1.05);
    color: var(--text);
}

/*#endregion*/

/*#region Projects*/

.projects-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.filter-btn {
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    font-family: var(--mono);
    color: var(--text-dim);
    background: none;
    border: 1px solid var(--line-bright);
    border-radius: var(--radius);
    transition: all 0.15s ease;
    cursor: pointer;
}

.filter-btn.active
{
    background: var(--accent-dim);
    border-color: var(--accent);
    color: var(--accent);
}

.filter-btn:hover {
    color: var(--text);
    transform: scale(1.05);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

@media (max-width: 900px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-item {
    transition: opacity 0.2s ease, transform 0.2s ease;
    padding-bottom: 2rem;
}

.project-item.hidden {
    display: none;
}

.project-item.viewport video
{
    aspect-ratio: 4 / 3;
}

.project-desc {
    padding: 0.2rem 0.2rem 0;
}

.project-desc h4 {
    font-family: var(--mono);
    font-size: 0.9rem;
    margin: 0 0 0.3rem;
    font-weight: 500;
}

.project-desc p {
    color: var(--text-dim);
    font-size: 0.80rem;
    margin: 0 0 0.5rem;
}

.project-desc a {
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--accent);
    font-family: var(--mono);
}

.project-desc a:hover {
    text-decoration: underline;
    text-shadow:
            0 0 4px var(--accent),
            0 0 10px var(--accent),
            0 0 20px var(--accent);
}

/*#endregion*/

/*#region Skills*/

.skills-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem; 
}

.skills-list span {
    padding : 0.5rem 0.9rem;
    border: 1px solid var(--line-bright);
    color: var(--text-dim);
    font-size: 0.8rem;
    border-radius: var(--radius);
    transition: all 0.15s ease;
}

.skills-list span:hover {
    transform: scale(1.05);
    color: var(--text);
}

/*#endregion*/

/*#region Contacts*/

.contact-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-row a,
.contact-row button {
    font-family: var(--mono);
    color: var(--accent);
    font-size: 0.85rem;
    text-decoration: none;
    position: relative;
    
    .copy-tooltip {
        visibility: hidden;
    }
}

.contact-row button {
    background: none;
    border: none;
}

.contact-row a:hover,
.contact-row button:hover {
    text-shadow:
            0 0 4px var(--accent),
            0 0 10px var(--accent),
            0 0 20px var(--accent);
    text-decoration: underline;
    
    .copy-tooltip {
        text-decoration: none;
        text-shadow: none;
        visibility: visible;
    }
}

.contact-row button:focus-visible {
    .copy-tooltip {
        visibility: visible;
    }
}

.copy-tooltip {
    padding: 5px 5px;
    border: 1px solid var(--line-bright);
    color: var(--text);
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/*#endregion*/
