
/*#region Carousel*/

.viewport:hover {
    .vp-status {
        color: var(--text);
        border-color: var(--line-bright);
    }
    
    .vp-label {
        text-shadow: none;
    }
}

.carousel-track {
    position: relative;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: initial;
}

.carousel-btn {
    position: absolute;
    
    width: 2rem;
    height: 2rem;
    
    font-size: 1rem;
    background: none;
    color: var(--text);
    border: 1px solid var(--line-bright);
    border-radius: 60px;
    
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btn:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.carousel-btn.prev {
    left: 2%;
}

.carousel-btn.next {
    right: 2%;
}

.carousel-counter {
    position: absolute;
    z-index: 3;
    right: 14px;
    bottom: 14px;
    
    color: var(--text-dim);
    font-family: var(--mono);
    font-size: 0.6rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    
    border: 1px solid var(--line-bright);
}

.carousel-dots {
    display: flex;
    gap: 0.5rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    transition: background 0.5s ease;
}

.carousel-dot {
    width: 8px;
    height: 8px;
    z-index: 4;
    
    cursor: pointer;
    
    padding: 0;
    border-radius: 50%;
    background: var(--line-bright);
}

.carousel-dot.active {
    transform: scale(1.2);
    background: var(--accent);
}

/*#endregion*/

/*#region Collab*/

.collaborator-list {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}

.collaborator {
    position: relative;
    display: inline-block;
    font-family: var(--mono);
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--line-bright);
    border-radius: var(--radius);
    background: var(--bg-panel);
    cursor: pointer;
    transition: border-color 0.2s ease, color 0.2s ease;
}

.collaborator:hover,
.collaborator:focus-visible,
.collaborator.open {
    outline: none;
    color: var(--accent);
    border-color: var(--accent);
}

.collab-role {
    display: block;
    font-family: var(--sans);
    font-size: 0.7rem;
    margin-top: 0.15rem;
    color: var(--text-dim)
}

.collab-tooltip {
    position: absolute;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    
    left: 50%;
    bottom: calc(100% + 0.5rem);
    transform: translateX(-50%) translateY(4px);
    
    border: 1px solid var(--line-bright);
    border-radius: var(--radius);
    background: var(--bg-panel);
    padding: 1rem;
    min-width: 190px;
    
    text-align: left;
    cursor: default;
}

.collaborator:hover         .collab-tooltip,
.collaborator:focus-visible .collab-tooltip,
.collaborator.open          .collab-tooltip {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

/*#endregion*/